.back1 {
    font-size: 20px;
    background-image: url("../background1.jpeg");
    background-size: cover;
    height: 670px;
    vertical-align: middle;
}
.back2 {
    background-image: url("../background2.jpg");
    background-size: cover;
    height: 670px;
}
.back3 {
    background-image: url("../background3.jpg");
    background-size: cover;
    height: 670px;
}
.slider h2 {
  font-size: 60px;
  text-shadow: 2px 2px #222;
  padding-top: 18%;
}